.vscode/c_cpp_properties.json

/build

/subprojects/*
!/subprojects/packagefiles
!/subprojects/*.wrap

.pch
.vs/

# VS Code
.vscode/*
!.vscode/extensions.json
.vsls.json

imgui.ini
save.bin
assets/maps/_autosave.cmom
assets/maps/_autosave.cmtm
